
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Alert美化弹出框/sweetalert.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/layui/layui/modules/layer.js"></script>
    <script src="~/Scripts/AngularJS.js"></script>
    <script src="~/Scripts/PageJS/CertificateUpdate.js"></script>
    <script src="~/Scripts/PageJS/AddCertificates.js"></script>
    <script src="~/Scripts/Alert美化弹出框/sweetalert-2.1.2.min.js"></script>
    <style>
        /*新增-标题字体加大加粗*/
        .layui-layer-title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

    </style>
    <script>
        $(function () {
            $("#CertCodeInput").focus();
        })
    </script>
</head>

<body style="max-width:800px;margin:0px auto">
    <div id="content" style="margin:0px auto;width:70%" ng-app="myApp" ng-controller="mycontroller">
        <h2 style="text-align:center">Create New Certificate Master </h2>
        <div class="panel-heading col-sm-11" id="@ViewBag.certificates.CMSerial" name="CMSerial">
            <label>认证代码<br />Cert-code</label>：
            <input value="@ViewBag.certificates.CertCode" type="text" id="CertCodeInput" name="certcode" class="form-control" style="display:inline;width:77%;" onblur="BlurCertCode(this.value,1)" /><label id="CertCodeTip" style="color:red;font-size:20px"></label>
        </div>
        <div class="panel-heading col-sm-11">
            <label>认证名称<br />Cert-Name</label>：
            <input value="@ViewBag.certificates.CertName" type="text" id="CertName" name="CertName" class="form-control" style="display:inline;width:76%;" /><label id="CertNameTip" style="color:red;font-size:20px"></label>
        </div>
        <div class="panel-heading col-sm-11" style="position:relative">
            <label>适用国家/区域<br />For Country/Area</label>：
            <input value="@ViewBag.certificates.CountryArea" id="@ViewBag.certificates.Mkt_Cnty" disabled="disabled" type="text" name="CountryArea" class="form-control" style="display:inline;width:66%;" />
            <img style="position:absolute;right:10%;top:40%" src="~/Scripts/img/CertificatesManagementCountryArea.png" ng-click="CountryArea();" />
            <label id="CountryAreaTip" style="color:red;font-size:20px"></label>
        </div>
        <div class="panel-heading col-sm-11">
            <label>标准费用<br />Standard Fees</label>：
            <label>USD$</label>
            <input value="@ViewBag.certificates.StdFee" type="text" id="StandardFees" name="StandardFees" class="form-control" style="display:inline;width:30%;" />
        </div>
        <div class="panel-heading col-sm-11">
            <label>标准测试日<br />Standard Time</label>：
            <input value="@ViewBag.certificates.StdTime" type="text" id="StandardTime" name="StandardTime" class="form-control" style="display:inline;width:30%;" />
            <label>weeks</label>
        </div>
        <div class="panel-heading col-sm-11" style="position:relative">
            <label>备注<br />Remarks</label>：
            <div style="display:inline-block;width:80%;">
                <textarea id="Remarks" class="form-control" name="Remarks" style="width: 100%; border: 1px solid black" maxlength="100">
                    @ViewBag.certificates.Remark
                </textarea>
            </div>
        </div>
    </div>
</body>
</html>
