
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Alert美化弹出框/sweetalert.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/AngularJS.js"></script>
    <script src="~/Scripts/Alert美化弹出框/sweetalert-2.1.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/PageJS/ProductModelUpdate.js"></script>
    <style>
        *{
            padding:0;
            margin:0;
        }
        /*新增-标题字体加大加粗*/
        .layui-layer-title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
        @*K3 相关物料号 相关div的样式*@
        .k3Div {
            display: inline-block;
            width: 80%;
            margin-bottom:10px;
        }
        @*K3 相关物料号 相关input的样式*@
        .k3Input {
            display: inline;
            width: 46%;
        }
    </style>
    <script>
        $(function () {
            $("#ModelCode").focus();
        })
    </script>
</head>
<body style="max-width:800px;margin:0px auto" ng-app="myApp" ng-controller="mycontroller">
    <div id="content">
        @if (ViewBag.type == "1")//新增
        {
            <h2 style="text-align:center"> Create New Component Model </h2>
        }
        @if (ViewBag.type == "2")//复制
        {
            <h2 style="text-align:center"> Copy to New Component Model </h2>

        }
        @if (ViewBag.type == "3")//编辑
        {
            <h2 style="text-align:center"> Modify New Component Model </h2>

        }

        @if (ViewBag.type == "3")//编辑
        {
            <div style="overflow:hidden">
                <div class="panel-heading col-sm-2" style="width: 21%">
                    <label>型号编码<br />Model Code</label>：
                </div>
                <div class="panel-heading col-sm-9" id="@ViewBag.ComponentModel.CPSerial" name="CPSerial">
                    @*onblur="BlurModelCode(this.value)"*@
                    <div id="ModelCode" name="ModelCode" style="display: inline-block; border-bottom: 2px solid black; width: 78%; background-color: lightgray; padding-top: 16px; ">@ViewBag.ComponentModel.ModelCode</div>
                </div>
            </div>
        }
        else//新增和复制
        {
            <div style="overflow:hidden">
                <div class="panel-heading col-sm-2" style="width: 21%">
                    <label>型号编码<br />Model Code</label>：
                </div>
                <div class="panel-heading col-sm-9" id="@ViewBag.ComponentModel.CPSerial" name="CPSerial">
                    @*onblur="BlurModelCode(this.value)"*@
                    <input value="@ViewBag.ComponentModel.ModelCode" type="text" id="ModelCode" name="ModelCode" class="form-control" style="display:inline;width:78%;" maxlength="20" /><label id="ModelCodeTip" style="color:red;font-size:20px"></label>
                </div>
            </div>
        }




        <div style="overflow:hidden">
            <div class="panel-heading col-sm-2" style="width: 21%; display: inline-block">
                <label>型号名称描述<br />Model Description</label>：
            </div>
            <div class="panel-heading col-sm-9" style="display: inline-block">
                <input value="@ViewBag.ComponentModel.ModelName" type="text" id="ModelName" name="ModelName" class="form-control" style="display:inline;width:78%;" maxlength="40" /><label id="ModelNameTip" style="color:red;font-size:20px"></label>
            </div>
        </div>


        <div style="overflow:hidden">
            <div class="panel-heading col-sm-2" style="width: 21%">
                <label>规格详细<br />Specification</label>：
            </div>
            <div class="panel-heading col-sm-9">
                <textarea class="form-control" rows="5" id="ModelSpec" name="ModelSpec" style="width: 78%; border: 1px solid black;" maxlength="500">@ViewBag.ComponentModel.ModelSpec</textarea>


            </div>
        </div>


        <div style="overflow:hidden">
            <div class="panel-heading col-sm-2" style="width:21%">
                <label>K3 相关物料号<br />K3 Related Items</label>：
                <a href="" ng-click="AddK3Input()"><label style="font-size: 50px; font-weight: 700; color: red;cursor: pointer;">+</label></a>
            </div>
            <div class="panel-heading col-sm-9" id="K3DivContainer">

                @{string aa = ViewBag.ComponentModel.K3Parts;
                    string K3Parts1 = "";
                    string K3Parts2 = "";
                    int num = 1;//第几行
                }

                @if (aa != null)
                {
                    if (aa.IndexOf(';') != -1)//存在多个k3物料号
                    {
                        foreach (var item in aa.Split(';'))//将多个k3物料号进行分割  作为循环input标签的次数
                        {
                            if (item.IndexOf('-') != -1)//判断是否存在范围内的k3物料号  如100.002.003.881-886
                            {
                                var arr = item.Replace('-', ' ').Replace(';', ' ').Split(' ');//将数据中的 - | 替换成空格  并分割
                                for (int i = 0; i < arr.Length - 1; i += 2)
                                {
                                    K3Parts1 = arr[i];
                                    K3Parts2 = arr[i + 1];
                                    <div class="k3Div" id="@(num)">
                                        <input value="@K3Parts1" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" />
                                        <label>—</label>
                                        <input value="@K3Parts2" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" /><label class="K3PartsTip" style="color:red;font-size:20px"></label>
                                    </div>
                                    num++;
                                }

                            }
                            else
                            {
                                <div class="k3Div" id="@(num)">
                                    <input value="@item" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" />
                                    <label>—</label> <input value="" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" /><label class="K3PartsTip" style="color:red;font-size:20px"></label>
                                </div>
                                num++;
                            }
                        }
                    }
                    else//不存在多个物料号
                    {
                        if (aa.IndexOf('-') != -1)//判断是否存在范围内的k3物料号  如100.002.003.881-886
                        {
                            var arr = aa.Replace('-', ' ').Replace(';', ' ').Split(' ');//将数据中的 - | 替换成空格  并分割
                            for (int i = 0; i < arr.Length - 1; i += 2)
                            {
                                K3Parts1 = arr[i];
                                K3Parts2 = arr[i + 1];
                                <div class="k3Div" id="@(num)">
                                    <input value="@K3Parts1" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" />
                                    <label>—</label> <input value="@K3Parts2" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" />
                                </div><label class="K3PartsTip" style="color:red;font-size:20px"></label>
                                num++;
                            }

                        }
                        else
                        {
                            <div class="k3Div" id="@(num)">
                                <input value="@aa" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" />
                                <label>—</label>
                                <input value="" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" /><label class="K3PartsTip" style="color:red;font-size:20px"></label>
                            </div>
                            num++;
                        }
                    }
                }
                else
                {
                    <div class="k3Div" id="@(num)">
                        <input value="" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" />
                        <label>—</label>
                        <input value="" type="text" id="" name="K3Parts" class="form-control k3Input" onblur="BlurK3Parts(this.value,this)" /><label class="K3PartsTip" style="color:red;font-size:20px"></label>
                    </div>
                }




            </div>
        </div>


    </div>
</body>
</html>
