
<!DOCTYPE html>

<html>
<head>
    <link href="~/Scripts/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Index.css" rel="stylesheet" />
    <link href="~/Scripts/Create/Create.css" rel="stylesheet" />
    <link href="~/Scripts/Alert美化弹出框/sweetalert.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AngularJS.js"></script>
    <script src="~/Scripts/PageJS/Detail.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/layui/layui/modules/layer.js"></script>
    <script src="~/Scripts/Alert美化弹出框/sweetalert-2.1.2.min.js"></script>
</head>
<body style="max-width:98%;min-width:1250px; margin:0px auto">
    <div style="border: 2px solid #0000ff; width: 97%; margin: 0 auto;">
        <div id="container" style="overflow: hidden">
            <h1 style="text-align: center;">
                <span id="Title">Certificates Application Details</span>
                <div style="float: right; margin-right: 20px;">
                    <a href="" style="margin-left: 25px;" onclick="window.location.href = '/CertificationApplication/CertificationApplication/index?userid='+@ViewBag.userid; return false;"><img src="~/Scripts/img/关闭.jpg" title="关闭" /></a>
                </div>
            </h1>
            <form id="Myform" method="post" class="form-inline" role="form" onsubmit="return false" style="width: 80%;margin:0px auto">
                @*左边*@
                <div style="float: left; width: 60%;" class="panel-heading col-sm-7">
                    <div class="panel-heading col-sm-10">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Applicant Ref #<br />申请编号
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="ApplicantRef">@ViewBag.Data.ApplicationRef</label>
                    </div>
                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Applicant(Client)<br />委托人
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="Applicant">@ViewBag.Data.Applicant</label>
                    </div>
                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Manufacturer<br />制造商
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="Manufacturer">@ViewBag.Data.Manufacturer</label>
                    </div>
                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Customer<br />客户
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="Customer">@ViewBag.Data.Customer</label>
                    </div>
                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Currency<br />货币
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="Currency">@ViewBag.Data.Currency</label>
                    </div>
                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Payer<br />付款方
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="Payer">@ViewBag.Data.Payer</label>
                    </div>
                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Application Fee<br />申请费
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="ApplicationFee">@ViewBag.Data.ApplyFeeQW</label>
                    </div>

                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Client PO Ref #<br />客户认购单
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="ClientPORef">@ViewBag.Data.ClientPO</label>
                    </div>

                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Inspection fee<br />验厂费
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="Inspectionfee">@ViewBag.Data.InspectFeeQW</label>
                    </div>

                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            GIP OA Ref#<br />GIP-OA审批号
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="GIPOARef">@ViewBag.Data.GIPOA</label>
                    </div>

                    <div class="panel-heading col-sm-6">
                        <div class=" col-sm-5 font-backColor" style="text-align:center">
                            Anual Renew fee<br />每年续费
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="AnualRenewfee">@ViewBag.Data.YearFeeQW</label>
                    </div>
                </div>
                @*右边*@
                <div style="float: right; width: 40%;">
                    <div class="panel-heading col-sm-15" style="position: relative;display:flex;padding:50px 15px">
                        <div id="ProductModel" class="panel-heading col-sm-10" style="text-align:center">
                            <div class="col-sm-6 font-backColor" style="width:64%">
                                {ProductModel(s)}<br />型号
                            </div>
                            <div class="col-sm-1">：</div>
                        </div>
                        <div style="height: 80px; width: 56%; position: relative">
                            <label id="ProductModel">@ViewBag.Data.ProductModel</label>
                        </div>
                    </div>
                    <div class="panel-heading col-sm-15" style="position: relative;display:flex;padding:0px 15px">
                        <div id="Otherservices" class="panel-heading col-sm-10" style="text-align:center">
                            <div class="col-sm-6 font-backColor" style="width:64%">
                                (IncludeRecurrings)<br />其他服务及收费（含重要收费类）
                            </div>
                            <div class="col-sm-1">：</div>
                        </div>
                        <div style="height: 80px; width: 56%; position: relative">
                            <label id="Otherservices">
                                @ViewBag.Data.O_SrvFees
                            </label>
                        </div>

                    </div>

                </div>
                @*remarks*@
                <div class="panel-heading">
                    <div class="panel-heading col-sm-9" style="text-align:center">
                        <div class=" col-sm-2 font-backColor">
                            Remarks<br />备注
                        </div>
                        <div class="col-sm-1" style="width:auto">：</div>
                        <label id="Remarks">@ViewBag.Data.Remark</label>
                    </div>
                </div>
                @*输入区域下半部分*@
                <div class="panel-heading col-sm-11">
                    <div class="panel-heading col-sm-4" style="text-align:center">
                        <div class=" col-sm-5 font-backColor">
                            QuotationRef#<br />报价单
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="QuotationRef">@ViewBag.Data.QuoteRef</label>
                    </div>
                    <div class="panel-heading col-sm-4" style="text-align:center">
                        <div class=" col-sm-5 font-backColor">
                            Supplier<br />供应商
                        </div>
                        <div class="col-sm-1">：</div>
                        <label id="Supplier">@ViewBag.Data.Supplier</label>
                    </div>
                    <div class="panel-heading col-sm-4" style="position: relative;display:flex;padding:0px 15px">
                        <div id="Otherservices" class=" col-sm-5 font-backColor" style="text-align:center">
                            Quotation<br />Attachment<br />报价单附档
                        </div>
                        <div class="col-sm-1">：</div>
                        <div style="height:45px ;width:90px;position:relative;line-height:45px" id="Quotation">
                            <!--下载文件-->
                            @{
                                string hzm = ViewBag.Data.QuoteFileName;
                                if (hzm != null)
                                {
                                    hzm = hzm.Substring(hzm.LastIndexOf(".") + 1, hzm.ToString().Length - (hzm.LastIndexOf(".") + 1));
                                }
                            }
                            @if (ViewBag.Data.QuoteFileName != null)
                            {
                                <div style="height: auto; width:100px;position:relative">
                                    <a href="" id="downloadFile" title="点击下载 @ViewBag.Data.QuoteFileName" onclick="downloadFile(0,this,'@ViewBag.Data.QuoteFileName', '@ViewBag.Data.ApplicationRef')">
                                        @if (@hzm == "pdf")
                                        {
                                            <img src="~/Scripts/img/pdf.png" style="padding:14px;" />
                                        }
                                        else if (@hzm == "doc" || @hzm == "docx")
                                        {
                                            <img src="~/Scripts/img/word.png" style="padding:14px;" />
                                        }
                                        else if (@hzm == "xls" || @hzm == "xlsx" || @hzm == "csv")
                                        {
                                            <img src="~/Scripts/img/excel.png" style="padding:14px;" />
                                        }
                                        else if (@hzm == "ppt" || @hzm == "pptx")
                                        {
                                            <img src="~/Scripts/img/ppt.png" style="padding:14px;" />
                                        }
                                        else
                                        {
                                            <b>下载</b>
                                        }
                                    </a>
                                </div>
                            }
                            else
                            {
                                <label><b>未上传文件</b></label>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--表格上方-->
        <div style="width: 85%;margin:0px auto;">

            <div><label> Certificate(s):</label></div>

        </div>

        <!--表格-->
        <div style="width: 92%;margin:0px auto;">
            <table id="GridView" class="table-striped tab-content table-hover table" style="width: 98%; margin: 12px auto; margin-bottom: 1%;text-align:center">
                <thead>
                    <tr style="background-color: rgba(217,217,217,0.1)">
                        <th> Name</th>
                        <th>Reference Number</th>
                        <th>Issuer</th>
                        <th>{ Factory(ies)}</th>
                        <th>{Covered Area(s) / Country(ies)}</th>
                        <th>Expiry(Y/M/D)</th>
                        <th>Attachment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="Content">
                    @{var i = 0;}
                    @foreach (var item in ViewBag.SonData)
                    {
                        if (item.Cert_Ref != null)
                        {
                            <tr>
                                <td>
                                    @item.CertName
                                </td>
                                <td>
                                    @item.Cert_Ref
                                </td>
                                <td>
                                    @item.Issuer
                                </td>
                                <td style="position:relative">
                                    @item.Factories
                                </td>
                                <td style="position:relative">
                                    @item.CoverAreas
                                </td>
                                <td style="position:relative">
                                    @item.Expiry
                                </td>
                                <!--文件-->
                                <td>
                                    @{
                                        string Sonhzm = @item.CertFileName;
                                        i = ++i;
                                        if (Sonhzm != null)
                                            Sonhzm = Sonhzm.Substring(Sonhzm.LastIndexOf(".") + 1, Sonhzm.ToString().Length - (Sonhzm.LastIndexOf(".") + 1));
                                    }
                                    @if (@item.CertFileName != null)
                                    {
                                        <div style="height:auto;position:relative">
                                            <a href="" id="SondownloadFile @i" title="点击下载 @item.CertFileName" onclick="downloadFile(1,this,'@item.CertFileName', '@item.CFSerial')">
                                                @if (@Sonhzm == "pdf")
                                                {
                                                    <img src="~/Scripts/img/pdf.png" />
                                                }
                                                else if (@Sonhzm == "doc" || @Sonhzm == "docx")
                                                {
                                                    <img src="~/Scripts/img/word.png" />
                                                }
                                                else if (@Sonhzm == "xls" || @Sonhzm == "xlsx" || @Sonhzm == "csv")
                                                {
                                                    <img src="~/Scripts/img/excel.png" />
                                                }
                                                else if (@Sonhzm == "ppt" || @Sonhzm == "pptx")
                                                {
                                                    <img src="~/Scripts/img/ppt.png" />
                                                }
                                                else
                                                {
                                                    <b style="line-height:55px">下载</b>
                                                }
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <label style="margin-top:15px"><b>未上传文件</b></label>
                                    }
                                </td>
                                @if (@item.Status == "Pending")
                                {
                                    <td style="color: blue;line-height: 55px;">
                                        @item.Status
                                    </td>
                                }
                                @if (@item.Status == "Active")
                                {
                                    <td style="color:green;line-height: 55px;">
                                        @item.Status
                                    </td>
                                }
                                @if (@item.Status == "Expired")
                                {
                                    <td style="color:red;line-height: 55px;">
                                        @item.Status
                                    </td>
                                }
                                @if (@item.Status == "Discard")
                                {
                                    <td style="color:orange;line-height: 55px;">
                                        @item.Status
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <label style="font-size:12px;padding-left:2%;color:lightgray;float:left">Creation: @ViewBag.Data.CreateBy (@ViewBag.Data.CreateDept) @ViewBag.Data.CreateTime</label>
            <label style="font-size:12px;padding-left:2%;color:lightgray;float:right">Last Update: @ViewBag.Data.UpdateBy (@ViewBag.Data.UpdateDept) @ViewBag.Data.UpdateTime</label>
        </div>
        <div style="text-align:center;margin:0px auto;clear:both;margin-top:1%;margin-bottom:1%">
            <input class="btn btn-default" type="button" name="Edit" value="Edit" style="margin-right:20%;font-size:20px;height:40px;width:150px;border:1px solid black;background-color:rgb(47,117,181);color:rgb(255,255,0)" onclick="window.location.href ='/CertificationApplication/CertificationApplication/FunctionInterface?type=3&ApplicationRef=@ViewBag.Data.ApplicationRef'" />
            <input class="btn btn-default" type="button" name="Close" value="Close" style="margin-right:20%;font-size:20px;height:40px;width:150px;border:1px solid black;background-color:rgb(47,117,181);color:rgb(255,255,0)" onclick="window.location.href = '/CertificationApplication/CertificationApplication/index?userid='+@ViewBag.userid" />
            <input id="DeleteBtn" class="btn btn-default" type="button" name="Delete" value="Delete" style="font-size:20px;height:40px;width:150px;border:1px solid black;background-color:rgb(47,117,181);color:rgb(255,255,0)" onclick="DelData('@ViewBag.Data.ApplicationRef','@ViewBag.userid')" />

        </div>
    </div>
</body>
</html>
